body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.section-error{
    margin: 40px;
    text-align: center;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 50px;
    border-radius: 4px;
}
.error-404{
    color: white;
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}